<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>B2 DNS Lookup Tool</title>
    <!-- Load Bootstrap CSS from a CDN -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark">
  <!-- Navbar content --><a class="navbar-brand" href="#">DNS Lookup Tool</a>
</nav>

    <div class="container mt-5 ">
      <hr>
      <div class="row">
        <div class="col-sm">
          <form id="dnsCheck" action"/lookup">
            <div class="form-group">
              <label for="host">Host:</label>
              <input type="text" class="form-control" id="host" placeholder="Enter host name">
              <small id="hostHelp" class="form-text text-muted">example.com (excluding protocol)</small>
            </div>
            <div class="form-group">
              <label for="type">Type (all lookups performed):</label>
              <span class="badge badge-secondary">NS</span>
              <span class="badge badge-secondary">A</span>
              <span class="badge badge-secondary">AAAA</span>
              <span class="badge badge-secondary">CNAME</span>
              <span class="badge badge-secondary">MX</span>
              <span class="badge badge-secondary">TXT</span>
              <span class="badge badge-secondary">Response code</span>

            </div>
            <button type="button" class="btn btn-dark btn-block btn-lg" id="lookupBtn">Lookup</button>
          </form>
          
        </div>
        <div class="col-sm">
          <div class="card text-white bg-dark mb-3">
            <div class="card-header">Result</div>
            <div class="card-body">
              <samp id="result">
                <!-- Results will be inserted here -->
              </samp>
            </div>
          </div>
        </div>
      </div>
      <hr>
    </div>

    <!-- Load jQuery and Bootstrap JS from a CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
    <script>
      var r = "";
      function doCheck() {
          var host = $('#host').val();
          var type = $('#type').val();
          $.ajax({
            url: '/lookup',
            type: 'POST',
            dataType: 'json',
            data: {host: host, type: type},
            success: function(result) {
              r = result;
              if (result.status === 'success') {
                var html = '';
                for (const [key, value] of Object.entries(result.result)) {
                  html += '<p>' + key + ": " + value + '</p>';
                }
                html += '<iframe src="https://' + host + '" />'
                $('#result').html(html);

              } else {
                $('#result').html('<p class="text-danger">' + result.message + '</p>');
              }
            },
            error: function(xhr, status, error) {
              $('#result').html('<p class="text-danger">' + error + '</p>');
            }
          });
      }
      $(document).ready(function() {
        $('#lookupBtn').click(function() { doCheck(); });
        $('#dnsCheck').on("submit", function(evt) {
          //$('#lookupBtn').click(function() {
          evt.preventDefault();

          doCheck();

        });
      });
    </script>
  </body>
</html>

